<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<br>
<div class="container d-flex justify-content-center">
  <%= link_to "Restaurants", restaurants_path, class: "btn btn-primary btn-lg" %>
</div>
